*
!README.md

!/hyprland/.zshrc
!/hyprland/Wallpaper/*
!/hyprland/.config/btop/themes/*
!/hyprland/.config/fastfetch/*
!/hyprland/.config/hypr/*
!/hyprland/.config/kitty/*
!/hyprland/.config/nvim/*
!/hyprland/.config/waybar/*
!/hyprland/.config/wofi/*
!/hyprland/.config/yazi/*

!/i3wm/.zshrc
!/i3wm/Wallpaper/*
!/i3wm/.config/betterlockscreen/*
!/i3wm/.config/btop/themes/*
!/i3wm/.config/dunst/*
!/i3wm/.config/i3/*
!/i3wm/.config/nvim/*
!/i3wm/.config/picom/*
!/i3wm/.config/polybar/*
!/i3wm/.config/kitty/*
